{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Simple Django+React template</title>

    {% render_bundle 'main' 'css' %}

    {% block styles %}{% endblock %}
  </head>
  <body>
    {% include 'partials/header.html' %}

    <div class="component component-1">Hi, I'm <span class="component__label">layout.html</span> and I'm storing all the standard markup. All other pages are inheriting me.</div>

    {% block content %}{% endblock %}

    {% include 'partials/footer.html' %}

    {% render_bundle 'main' 'js' %}

    {% block scripts %}{% endblock %}
  </body>
</html>
